<button mat-button (click)="isOpen = !isOpen" type="button" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
{{isOpen ? "Close" : "Open"}}
</button>

<ng-template
cdkConnectedOverlay
[cdkConnectedOverlayOrigin]="trigger"
[cdkConnectedOverlayOpen]="isOpen"
(overlayOutsideClick)="isOpen = false"
>
<ul class="example-list">
  <li>Item 1</li>
  <li>Item 2</li>
  <li>Item 3</li>
</ul>
</ng-template>

<!-- <button mat-button (click)="isOpen2 = !isOpen2" type="button" cdkOverlayOrigin #trigger2="cdkOverlayOrigin">
{{isOpen2 ? "Close" : "Open"}}
</button>
<ng-template
cdkConnectedOverlay
[cdkConnectedOverlayOrigin]="trigger2"
[cdkConnectedOverlayOpen]="isOpen2"
(overlayOutsideClick)="isOpen2 = false"

>
<ul class="example-list">
  <li>Item 1</li>
  <li>Item 2</li>
  <li>Item 3</li>
</ul>
</ng-template> -->